.vagrant
*.log
worker_join_token
manager_join_token
.htpasswd
cert.crt
cert.key
.env
.terraform
*.tfvars
*.tfstate
*.tfstate.backup
./containers/traefik/acme
secrets.yaml
containers/nextcloud
*.secret
