(tls) {
  header Strict-Transport-Security "max-age=15552000;"

  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
    resolvers 1.1.1.1
  }
}

ping.{$DOMAIN} {
  respond "pong"
  import tls
}

whoami.{$DOMAIN} {
  reverse_proxy whoami:8000
  import tls
}

grafana.{$DOMAIN} {
  reverse_proxy grafana:3000
  import tls
}

plex.{$DOMAIN} {
  reverse_proxy 100.86.149.128:32400
  import tls
}

nodered.{$DOMAIN} {
  reverse_proxy nodered:1880
  import tls
}

prometheus.{$DOMAIN} {
  reverse_proxy prometheus:9090
  import tls
}

freshrss.{$DOMAIN} {
  reverse_proxy freshrss:80
  import tls
}

adminer.{$DOMAIN} {
  reverse_proxy adminer:8080
  import tls
}

guacamole.{$DOMAIN} {
  reverse_proxy guacamole:8080
  import tls
}

firefly.{$DOMAIN} {
  reverse_proxy firefly:8080
  import tls
}

fidi.{$DOMAIN} {
  reverse_proxy fidi:8080
  import tls
}

homeassistant.{$DOMAIN} {
  reverse_proxy 100.86.149.128:8123
  import tls
}

http://nextcloud.{$DOMAIN} {
  reverse_proxy nextcloud:80

  redir /.well-known/carddav /remote.php/dav 301
  redir /.well-known/caldav /remote.php/dav 301
}

influxdb.{$DOMAIN} {
  reverse_proxy influxdb:8086
  import tls
}

mopidy.{$DOMAIN} {
  reverse_proxy mopidy:6680
  import tls
}

snapcast.{$DOMAIN} {
  reverse_proxy snapserver:1780
  import tls
}

roundcube.{$DOMAIN} {
  reverse_proxy roundcubemail:80
  import tls
}

omada.{$DOMAIN} {
  reverse_proxy 100.86.149.128:8043 {
    transport http {
      tls_insecure_skip_verify
    }

    header_up Host {host}:8043
    header_down Location :8043 :443
  }
  import tls
}
