kube-kube-master-01.yaml
kube-kube-worker-01.yaml
kube-kube-worker-02.yaml
kube-kube-worker-03.yaml
kube-kube-storage-01.yaml
kube-kube-storage-02.yaml
kube-kube-storage-03.yaml
talosconfig
kube-kube-master-02.yaml
kube-kube-worker-04.yaml
kube-kube-master-03.yaml
