---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: external-ingress
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-issuer
    nginx.ingress.kubernetes.io/backend-protocol: '{{ ENV.PROTO | upper }}'
    gethomepage.dev/href: 'https://{{ ENV.SUBDOMAIN }}.durbin.casa'
    gethomepage.dev/enabled: 'true'
    gethomepage.dev/app: {{ ENV.APP }}
    gethomepage.dev/group: Other
    gethomepage.dev/icon: {{ ENV.APP }}
    gethomepage.dev/name: {{ ENV.APP | title }}
    gethomepage.dev/widget.type: {{ ENV.APP }}
    gethomepage.dev/widget.url: {{ ENV.PROTO }}://{{ ENV.APP }}-service
    nginx.ingress.kubernetes.io/auth-method: GET
    nginx.ingress.kubernetes.io/auth-url: http://authelia-service.default.svc.cluster.local/api/authz/auth-request
    nginx.ingress.kubernetes.io/auth-signin: https://auth.durbin.casa?rm=$request_method
    nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
    external-dns.alpha.kubernetes.io/target: external.durbin.casa
spec:
  ingressClassName: external
  rules:
    - host: &host {{ ENV.SUBDOMAIN }}.durbin.casa
      http:
        paths:
          - pathType: Prefix
            path: '/'
            backend:
              service:
                name: service
                port:
                  name: {{ ENV.PROTO }}
  tls:
    - secretName: durbin-casa-wildcard-cert
      hosts:
        - *host

